/* GENERAL */
body{
    background-color:#333;
    font-family: "Lucida Console", Monaco, monospace;
    overflow:hidden;
}
img{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
button{
    cursor: pointer;
}
#loading{
    padding-top: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    float: left;
    z-index: 20;
    top: 0px;
    left: 0px;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* TABLE */
#t{
    margin: 0 auto;
    background: #333;
    color: white;
    border: none;
    border: 1px solid black;
    top:0;
    position: absolute;
}
#t_h{
    font-size: 20px;
    text-align: center;
    position: fixed;
    margin-bottom: 100px;
    background: black !important;
}
td{
    
    margin: 0px;
    text-align: center;
    border-bottom: 1px solid black;

}
thead{
    background: black !important;
}
tbody{
    padding-top:40px;
    float: left;
    border-top: 1px solid black;    
}

/* SPRITE */
.sprite{
    width: 160px;
    height: 120px;
}
.sprite-s{
    width: 160px;
    height: 120px;
    
}


/* COLUMNS */
.pkmn-sprite{
    width: 160px;
}
.pkmn-type{
    width: 100px;
    padding-right:8px;
}
.pkmn-a{
    background: #694242;
    width: 250px;
}
.pkmn-a2{
    background: #694242;
    width: 250px;
}
.pkmn-d{
    background: #424269;
    width: 250px;
}
.pkmn-d2{
    background: #424269;
    width: 250px;
}
.pkmn-stats{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}
.pkmn-stats li{
    margin-bottom:5px;
    width: 100%;
    text-overflow: initial;
    margin-left:-24px;
}
.pkmn-stats div{
    background:rgba(255,255,255,0.1);
    widows: 10px;
    height: 1.1rem;
    margin-top: -1.2rem;
    border: 1px solid rgba(255,255,255,0.3);
}
.pkmn-stats span{
    padding-left:2px;
}


/* SETTINGS */
#header{
    position:fixed;
    z-index: 10;
    right: 20px;
    top: 20px;
    text-align: right;
    color: white;
}
@media only screen and (max-width: 1300px) {
    #header{
        display: none;
    }
}
#settings{
    position:fixed;
    z-index: 10;
    right: 20px;
    bottom: 20px;
    text-align: right;
}
#search{
    width: 200px;
    height: 40px;
    font-size:20px;
}
#info-mode{
    height: 40px;
    font-size:20px;
}
#img-mode{
    height: 40px;
    font-size:20px;
}


/* LOADING */
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }