<!DOCTYPE html>
<html>
    <head>
        <title>Combat Dex</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='master.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div id='loading'>
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <br><span>Catching em' all...</span>
        </div>
        <div class="container">
            <div class="component">
                <div id='header'>
                    <h1>Combat Dex</h1>
                    <h2>Stats Simplified</h2>
                    <br><br>
                    <p1>
                        Website by
                        <a style='color: lightblue;' href='http://www.porterlibby.com/'>Porter Libby</a><br><br>
                        Pokémon is © Nintendo. <br>
                        Data from 
                        <a style='color: lightblue;' href='https://www.serebii.net/'>Serebii</a> 
                        and 
                        <a style='color: lightblue;' href='https://pokemondb.net/'>PokemonDB</a> <br>
                        Sprites from <a style='color: lightblue;' href='https://github.com/msikma/pokesprite'>msikma</a>
                    </p1>
                </div>
                <div id='settings'>
                    
                    <input type="text" id="search" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"><br><br>
                    <button id='info-mode'>Attacking</button><br><br>
                    <button id='img-mode'>Normal Sprites</button>
                </div>
                <table id='t' cellspacing="0" cellpadding="0">
                {% for item in data %}
                    {% if loop.index == 1 %}
                        <thead id='t_h'>
                    {% endif %}
                    <tr>
                        <td class='pkmn-sprite'>
                            {% if loop.index != 1 %}
                                {% if item[1] == "Farfetch'd" %} 
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/farfetchd.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/farfetchd.png"}}'>
                                {% elif item[1] == "Sirfetch'd" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/sirfetchd.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/sirfetchd.png"}}'>
                                {% elif item[1] == "Type: Null" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/type-null.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/type-null.png"}}'>
                                {% elif item[1] == "Mr. Mime" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/mr-mime.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/mr-mime.png"}}'>
                                {% elif item[1] == "Mr. Rime" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/mr-rime.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/mr-rime.png"}}'>
                                {% elif item[1] == "Flabébé" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/flabebe.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/flabebe.png"}}'>
                                {% elif item[1] == "Mime Jr." %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/mime-jr.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/mime-jr.png"}}'>
                                {% elif item[1] == "Nidoran♀" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/nidoran-f.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/nidoran-f.png"}}'>
                                {% elif item[1] == "Nidoran♂" %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/nidoran-m.png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/nidoran-m.png"}}'>
                                {% else %}
                                    <img loading="lazy" class='sprite' src='{{"/static/regular/" + item[1].lower().replace(" ", "-") + ".png"}}'>
                                    <img loading="lazy" class='sprite-s' src='{{"/static/shiny/" + item[1].lower().replace(" ", "-") + ".png"}}'>
                                {% endif %}
                            {% endif %}

                            {% if loop.index != 1 %}{{ item[0] }}: {{ item[1] }} {% else %} PKMN {% endif %} 
                        </td>
                        <td class='pkmn-type'>
                            {% if loop.index != 1 %}
                                {% for type in item[2].replace("[", "").replace("]", "").replace("'","").replace(" ","").split(",") %}
                                    {% if type != "" %}
                                        <img loading="lazy" style='width: 64px;' src='{{"/static/types/" + type.lower() + ".gif"}}'>
                                    {% endif %}
                                {% endfor %}
                            {%else%}
                                {{ item[2] }}
                            {%endif%}

                        </td>
                        
                        <td class='pkmn-a'>
                            {% if loop.index != 1 %}
                                {% for type in item[10].replace("[", "").replace("]", "").replace("'","").replace(" ","").split(",") %}
                                    {% if type != "" %}
                                        <img loading="lazy" style='width: 64px;' src='{{"/static/types/" + type.lower() + ".gif"}}'>
                                    {% endif %}
                                {% endfor %}
                            {%else%}
                                {{ item[10] }}
                            {%endif%}
                        </td>
                        <td class='pkmn-a2'>
                            {% if loop.index != 1 %}
                                {% for type in item[11].replace("[", "").replace("]", "").replace("'","").replace(" ","").split(",") %}
                                    {% if type != "" %}
                                        <img loading="lazy" style='width: 64px;' src='{{"/static/types/" + type.lower() + ".gif"}}'>
                                    {% endif %}
                                {% endfor %}
                            {%else%}
                                {{ item[11] }}
                            {%endif%}
                        </td>

                        <td class='pkmn-d'>
                            {% if loop.index != 1 %}
                                {% for type in item[12].replace("[", "").replace("]", "").replace("'","").replace(" ","").split(",") %}
                                    {% if type != "" %}
                                        <img loading="lazy" style='width: 64px;' src='{{"/static/types/" + type.lower() + ".gif"}}'>
                                    {% endif %}
                                {% endfor %}
                            {%else%}
                                {{ item[12] }}
                            {%endif%}
                        </td>
                        <td class='pkmn-d2'>
                            {% if loop.index != 1 %}
                                {% for type in item[13].replace("[", "").replace("]", "").replace("'","").replace(" ","").split(",") %}
                                    {% if type != "" %}
                                        <img loading="lazy" style='width: 64px;' src='{{"/static/types/" + type.lower() + ".gif"}}'>
                                    {% endif %}
                                {% endfor %}
                            {%else%}
                                {{ item[13] }}
                            {%endif%}
                        </td>

                        <td class='pkmn-stats'>
                            {% if loop.index != 1 %}
                                <ul style="list-style-type:none">
                                    <li style='color:#cfc'><span><strong>HP:</strong> {{ item[4] }}</span><div style='width: {{ 160 * ((item[4] | int) / 255) }}px'></div></li>

                                    <li style='color:#fcc'><span><strong>ATT:</strong> {{ item[5] }}</span><div style='width: {{ 160 * ((item[5] | int) / 255) }}px'></div></li>
                                    <li style='color:#ccf'><span><strong>DEF:</strong> {{ item[6] }}</span><div style='width: {{ 160 * ((item[6] | int) / 255) }}px'></div></li>

                                    <li style='color:#fcc'><span><strong>S.A:</strong> {{ item[7] }}</span><div style='width: {{ 160 * ((item[7] | int) / 255) }}px'></div></li>
                                    <li style='color:#ccf'><span><strong>S.D:</strong> {{ item[8] }}</span><div style='width: {{ 160 * ((item[8] | int) / 255) }}px'></div></li>

                                    <li><span><strong>SPE:</strong> {{ item[9] }}</span><div style='width: {{ 160 * ((item[9] | int) / 255) }}px'></div></li>

                                    <li><span><strong>TTL:</strong> {{ item[14] }}</span><div style='width: {{ 160 * ((item[14] | int) / 720) }}px'></div></li>
                                </ul>
                            {% else %}
                                Base Stats
                            {% endif %}
                        </td>
                    </tr>
                    {% if loop.index == 1 %}
                        </thead>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
        </div>
        <script>
            window.addEventListener('load', function () {
                document.getElementById("loading").style.display = "none";
                document.body.style.overflow = "auto";
            });
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");

                filter = input.value.toUpperCase();
                table = document.getElementById("t");

                tr = table.getElementsByTagName("tr");

                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];

                    if (td) {
                        txtValue = td.textContent || td.innerText;

                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }
            }
        </script>
    </body>
</html>