<html>
    <head>
        <style>
            #chartdiv {
              width: 100%;
              height: 100%;
            }
        </style>
        <title>Combat Dex - Vis Tool</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='master.png') }}">
    </head>
    <body>
        <div id="chartdiv">loading...</div>
        

        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script>
            am4core.ready(function() {
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end
                
                /* Create chart */
                var chart = am4core.create("chartdiv", am4charts.TreeMap);
                chart.data = [
                    {% for k1, v1 in data[0].items() %}
                        { 
                        "name": "{{k1}}", 
                        "value": {{v1}}, 
                        "color": "{{ data[1].get(k1) }}"
                        },
                    {% endfor %}
                ];

                /* Define data fields */
                chart.dataFields.value = "value";
                chart.dataFields.name = "name";
                chart.dataFields.color = "color";

                
            }); // end am4core.ready()
        </script>
    </body> 
</html>